<h1><%- name %> <small><%- version %></small></h1>

<div id="wrap">
  <div id="field"></div>

  <div class="controls">
    <p class="pull-left">
      <span class="label label-info">move</span>
      <span class="label">&rarr;</span>
      <span class="label">&darr;</span>
      <span class="label">&larr;</span>
      <span class="label">&uarr;</span>
    </p>
    <p class="pull-right">
      <span class="label label-info">talk</span>
      <span class="label">&#9166;</span>
    </p>
  </div>
</div>
