<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title><%= name %></title>
<%- css('style') %>
</head>
<body>

<%- body %>

<script src="/socket.io/socket.io.js"></script>
<%- js('script') %>
</body>
</html>
