@import 'bootstrap/bootstrap';

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  width: 660px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

#wrap {
  width: 660px;
  margin: 0 auto;

  #field {
    background: url(/img/field.png) 0 0 repeat;
    border: 1px solid #bbb;
    border-radius: 3px;
    height: 419px;
    width: 659px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .box {
      background: #fff;
      border-radius: 3px;
      height: 59px;
      width: 59px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      transition: all 0.1s linear;
    }
  }

  #send {
    display: block;
    margin: 10px auto 20px;
    outline: none;
    width: 98%;
  }
}

.controls {
  padding: 10px 0;
}

@tooltipColor: #000;
.tooltip {
  font-size: 15px;
}
.tooltip-inner {
  background: @tooltipColor;
  color: #fff;
  opacity: .6;
}
.tooltip {
  opacity: .6;
  &.top .tooltip-arrow {
    border-top-color: @tooltipColor;
    opacity: .6;
  }
  &.right .tooltip-arrow {
    border-right-color: @tooltipColor;
    opacity: .6;
  }
  &.left .tooltip-arrow {
    border-left-color: @tooltipColor;
    opacity: .6;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: @tooltipColor;
    opacity: .6;
  }
}
